#bright {
    color: #e6f000;
}
#ImageButton {
    width: 100vw;
    background-color: crimson;
    font-size: 2vw;
}
#fImage {
    height: 60vh;
    width: 30vw;
    display: none;
}
#sImage {
    height: 60vh;
    width: 30vw;
    display: none;
}
#tImage {
    height: 60vh;
    width: 38vw;
    display: none;
}
#textSizes {
    font-size: 5vw;
}
#hottieAlert {
    font-size: 5vw;
    font-weight: 100;
    color: blue;
    display: inline-block;
    margin: auto;
}
#hottie1, #hottie2 {
    height: 35vw;
    width: 32.7vw;
}
#hottie3 {
    height: 35vw;
    width: 32.7vw;
}
#creation {
    display: inline-block;
    margin: auto;
}
#hover {
    padding: 2vw;
    background-color: darkorchid;
    font-size: 3vw;
    text-align: center;
    width: 50vw;
    margin-bottom: 2vw;
}
div#slide-right {
    overflow: hidden;
    width: 100%;
    animation: slide-right 7s;
    animation-play-state: paused;
    display: inline-block;
}
@keyframes slide-right{
  from {
    margin-left: -100%;
    width: 100vw;
  }
  to {
    margin-left: 0%;
    width: 100vw;
  }
}
#movingTea, #movingCuddle, #movingShop, #movingFood {
    height: 25vw;
    width: 24.45vw;
    display: none;
}
#tea, #cuddle, #shop, #food {
    position: absolute;
    transform: rotate(-5deg);
    margin-left: 2vw;
    display: inline-block;
    font-size: 2vw;
    color: deeppink;
    display: none;
    font-weight: bold;
    
}
#vid-controls {
    display: inline-block;
}
#vid-show {
    display: inline-block;
    width: 48vw;
    height: 35vw;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#canvas {
    display: inline-block;
    width: 50vw;
    height: 27vw;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    padding-bottom: 4vw;
}
#vid-take {
    display: block;
    width: 100vw;
    height: 10vw;
    font-size: 5vw;
    background-color: coral;
    margin-bottom: 3vw;
    color: dodgerblue;
}
