

#bright {
    color: #e6f000;
}
#ImageButton {
    width: 100vw;
    background-color: crimson;
    font-size: 2vw;
}
#fImage {
    height: 60vh;
    width: 30vw;
    display: none;
}
#sImage {
    height: 60vh;
    width: 30vw;
    display: none;
}
#tImage {
    height: 60vh;
    width: 38vw;
    display: none;
}
#textSizes {
    font-size: 5vw;
}
#hottieAlert {
    font-size: 5vw;
    font-weight: 100;
    color: blue;
    display: inline-block;
    margin: auto;
}
#hottie1, #hottie2 {
    height: 35vw;
    width: 32.7vw;
}
#hottie3 {
    height: 35vw;
    width: 32.7vw;
}
#creation {
    display: inline-block;
    margin: auto;
}
#movingInformation {
    height: 20vw;
    width: 20vw;
}
