#bright {
    color: #e6f000;
}
#ImageButton {
    width: 100vw;
    background-color: crimson;
    font-size: 2vw;
}
#fImage {
    height: 60vh;
    width: 30vw;
    display: none;
}
#sImage {
    height: 60vh;
    width: 30vw;
    display: none;
}
#tImage {
    height: 60vh;
    width: 38vw;
    display: none;
}
#textSizes {
    font-size: 5vw;
}
#hottieAlert {
    font-size: 5vw;
    font-weight: 100;
    color: blue;
    display: inline-block;
    margin: auto;
}
#hottie1, #hottie2 {
    height: 35vw;
    width: 32.7vw;
}
#hottie3 {
    height: 35vw;
    width: 32.7vw;
}
#creation {
    display: inline-block;
    margin: auto;
}
#hover {
    padding: 2vw;
    background-color: darkorchid;
    font-size: 3vw;
    text-align: center;
    width: 50vw;
}
div.slide-right {
  overflow: hidden;
  width: 100%;
  padding-bottom: 100px;
}

div.slide-right {
  animation: slide-right 7s;
  overflow: hidden;
}
@keyframes slide-right{
  from {
    margin-left: 0%;
    width: 0%;
  }
  to {
    margin-left: 80%;
    width: 55vw;
  }
}
#loves {
    display: inline-block;
}
#movingTea, #movingCuddle {
    height: 20vw;
    width: 20vw;
    display: none;
    animation-play-state: paused;
    animation-iteration-count: initial;
}
#tea, #cuddle {
    position: absolute;
    transform: rotate(-30deg);
    display: inline-block;
    font-size: 2vw;
    color: coral;
    display: none;
    animation-play-state: paused;
    animation-iteration-count: initial;
}
#vid-controls {
    display: inline-block;
}
#vid-show {
    display: inline-block;
    width: 48vw;
    height: 35vw;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#canvas {
    display: inline-block;
    width: 50vw;
    height: 27vw;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    padding-bottom: 4vw;
}
#vid-take {
    display: block;
    width: 100vw;
    height: 10vw;
    font-size: 5vw;
    background-color: coral;
    margin-bottom: 3vw;
    color: dodgerblue;
}
